.cFluid {
     max-width: 100% !important;
     max-height: 100% !important;
     margin-left: 0px !important;
     margin-right: 0px !important;

     background-color: #f8f9d2;
     background-image: linear-gradient(315deg, #f8f9d2 2%, #e8dbfc 74%);
}

.profileField {
  border-bottom: 3px solid grey;
  padding-top: 2%;
  padding-bottom: 1px;
  font-family: 'Roboto', sans-serif;
}

.profileHeader {
  background-color: grey;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  font-family: 'Roboto', sans-serif;
}

#profileContainer {
  position: relative;

  width: 100;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: black;
  text-shadow: .05px .05px black;
}

.goButton {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.contact{
  opacity: 1;
  background-color: #a9989a;
  border: none;
  color: white;
  padding: 16px 3px;
  text-align: center;
  font-size: 16px;
  margin: 10px 1px;
  position: relative;
  right: 15%;
  up: 5%;

}

.goButton:hover {opacity: 1}

.profile-page {
  color: #88b2ba;
}

.jumbo-title {
  position: relative;
  bottom: 10vh;
  left: 20vh;

}

.pTest {
  position:relative;
  bottom: 20px;
  text-align-last: right;
  -moz-text-align-last: right;
  padding-right: 1%;
}

.accountHeader {
  padding-left: 30px;
  padding-top: 2%;
  padding-bottom: 3%;
  color: black;
}

.profileType {
  font-size: 16px;
  padding-left: 2%;
  padding-right: 10%;
}

.dashboard {
  position: relative;
  bottom: 10px;
  margin-top: 10%;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 90%;
}

@media screen and (min-width:635px){
    #profileContainer {
      width: 75%;
    }
}

.navbar-fixed-top {
    min-height: 80px;
}

.nav-center {
  position: relative;
  left: 50%;
}

.nav-left {
  position: relative;
  left: .5%;
}

.navbar-default {
  background-image: none;
  background-repeat: no-repeat;
 }
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

.contactForm {
  border-color: black;
  margin-left: 50% !important;
  width: 50% !important;
}
.contactFormLeft {
  padding-top: 3%;
  margin-right: 50% !important;
  width: 50% !important;
  text-align: left;
}

.footer {
  margin-bottom: 0px!important;
  padding: 0px;
  background-color: #a8aaad;
}

h2 {
  margin-bottom: 0px!important;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.indexContent {
padding-top: 10%;
padding-bottom: 10%;

}

.dashBody {
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 0px !important;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #f8f9d2;
  background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
}
