.cFluid {
  margin-top: 4% !important;
  width: 100%;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
}

.cFluid:last-child {
  margin-bottom: 4% !important;
  font-family: 'Roboto', sans-serif;
}

.profileField {
  border-bottom: 3px solid grey;
  padding-top: 2%;
  padding-bottom: 1px;
  font-family: 'Roboto', sans-serif;
}

.profileHeader {
  background-color: grey;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  font-family: 'Roboto', sans-serif;
}

#profileContainer {
  position: relative;

  width: 100;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: black;
  text-shadow: .05px .05px black;
}

.goButton {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.goButton:hover {opacity: 1}

.profile-page {
  color: #88b2ba;
}

.jumbo-title {
  position: relative;
  bottom: 10vh;
  left: 20vh;

}

.pTest {
  position:relative;
  bottom: 20px;
  text-align-last: right;
  -moz-text-align-last: right;
  padding-right: 1%;
}

.accountHeader {
  padding-left: 30px;
  padding-top: 2%;
  padding-bottom: 3%;
  color: black;
}

.profileType {
  font-size: 16px;
  padding-left: 2%;
  padding-right: 10%;
}

.dashboard {
  position: relative;
  bottom: 10px;
  left: 5%;
  width: 90%;
  height: 90%;
}

#particles-js {
  display:none;
  position: absolute;
  top:0px;

  left: 65%;
  width: 35%;

  height: 100%;
  z-index: -900;
	background: #88b2ba;
}

#particles-js-dash {
  position: absolute;
  top: 0px;
  bottom: 0px;

  left: 65%;
  width: 35%;

  z-index: -900;
	background: #88b2ba;
}

.indexContainer {
  background-image: url("https://images.unsplash.com/photo-1521540124319-66c09f0d5999?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=de1ecb553b42a0e7c749445672db4cf2&auto=format&fit=crop&w=983&q=80");
  width: 77%;
  left: 12%;
  right: 11%;
  position: relative;
  top: 0%;
}

@media screen and (min-width:635px){
    #particles-js {
        display:block;
    }
    #profileContainer {
      width: 75%;
    }
}

.navbar-fixed-top {
    min-height: 80px;
}

.nav-center {
  position: relative;
  left: 50%;
}

.nav-left {
  position: relative;
  left: .5%;
}

.navbar-default {
  background-image: none;
  background-repeat: no-repeat;
 }
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

h2 {
  margin-bottom: 0px!important;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
