<div class ="row">
<div class="col align-self-start">
  <div class="container-fluid">
    <div class="container-fluid contactFormLeft">
      <p> This is my contact info </p>
      <p> Address: </p>
      <p> Phone:  </p>
      <p> Email: </p>
    </div>
  </div>
  </div>
  <div class="col align-self-end">
  <div class="container-fluid contactForm">
    <form action="" method="POST">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" name="firstName" class="form-control" value={{request.form.firstName}}>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="lastName" name="lastName" class="form-control" value={{request.form.lastName}}>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  </div>
  </div>
</div>
