<nav class="navbar navbar-expand-md n navbar-light bg-light">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarCollapse">
     <ul class="navbar-nav">
       <a class="navbar-brand" href="/"> FileUploader </a>
     </ul>
     <ul class="navbar-nav mr-auto">
       {% if session.logged_in %}
       <li class="nav-item active">
         <a class="nav-link" href="/dashboard"> Dashboard<span class="sr-only">(current)</span></a>
       </li>
       {% endif %}
    </ul>
    <ul class="navbar-nav navbar-right">
      {% if session.logged_in %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{session.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/profile"> View Profile </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Log Out</a>
        </div>
      </li>
      {% else %}
         <li class="nav-item active">
           <a class="nav-link" href="/signin">Sign  In <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item active">
           <a class="nav-link" href="/signup">Sign Up <span class="sr-only">(current)</span></a>
         </li>
      {% endif %}
     </ul>
   </div>
</nav>
