<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <meta charset="utf-8">
  <title>FileUploader</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</head>

<body>
  {% include 'includes/_navbar.html' %}
<div class="container cFluid">
  <div class="jumbotron text-black" style="background-color: transparent !important;">
    <header class="masthead text-center">
      <div class="row">
        <div class="col align-self-end">
          <div class="p-5">
            <h2 class="display-4">Upload your file in a few easy steps</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col align-self-end">
            <div class="p-5">
              <h2 class="display-4 left"> See what you have submited </h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
          </div>
      </div>
    </header>
  </div>
  </div>

  <div class="jumbotron text-center">
    {% include '/includes/_footer.html' %}
  </div>

    {% include '/includes/_message.html' %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
  </html>
